 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Poppins", sans-serif;
     min-height: 100vh;
     width: 100%;
     background-color: whitesmoke;
     display: flex;
     flex-direction: column;
 }

 .content {
     flex: 1 0 auto;
     margin-top: 3rem;
     margin-bottom: 1rem;
 }

 .navbar {
     background-color: #6370B3;
     justify-content: flex-end;
 }

 .navbar-brand {
     color: white;
 }

 .collapse .navbar-collapse {
     color: white;
 }

 footer {
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: auto;
     background-color: #6370B3;
     text-align: center;
     color: white;
 }

 .container h1 {
     font-size: 3rem;
     color: #6370B3;
     margin-top: 4rem;
     margin-bottom: 40px;
     text-align: center;
     position: relative;
     z-index: 10;
     text-transform: uppercase;
     font-weight: 900;
 }


 .container h1:before {
     position: absolute;
     left: 50%;
     top: 5px;
     transform: translate(-50%, -50%);
     font-size: 3rem;
     color: #b4c9d4;
     z-index: -1;
     width: 100%;
     letter-spacing: 0.2rem;
 }

 html[lang="sk"] .container h1:before {
     content: "Záverečné zadanie";
 }

 html[lang="en"] .container h1:before {
     content: "Final Assignment";
 }

 @media (max-width: 771px) {
     .container h1 {
         font-size: 2.5rem;
         color: #6370B3;
         margin-top: 4rem;
         margin-bottom: 40px;
         text-align: center;
         position: relative;
         z-index: 10;
         text-transform: uppercase;
         font-weight: 900;
     }

     .container h1:before {
         content: "Záverečné zadanie";
         position: absolute;
         left: 50%;
         top: 5px;
         transform: translate(-50%, -50%);
         font-size: 2.5rem;
         color: #b4c9d4;
         z-index: -1;
         width: 100%;
         letter-spacing: 0.2rem;
     }
 }

 @media (max-width: 516px) {
     .container h1 {
         font-size: 2rem;
         color: #6370B3;
         margin-top: 4rem;
         margin-bottom: 40px;
         text-align: center;
         position: relative;
         z-index: 10;
         text-transform: uppercase;
         font-weight: 900;
     }

     .container h1:before {
         content: "Záverečné zadanie";
         position: absolute;
         left: 50%;
         top: 5px;
         transform: translate(-50%, -50%);
         font-size: 2rem;
         color: #b4c9d4;
         z-index: -1;
         width: 100%;
         letter-spacing: 0.2rem;
     }
 }

 @media (max-width: 425px) {
     .container h1 {
         font-size: 2rem;
         color: #6370B3;
         margin-top: 4rem;
         margin-bottom: 40px;
         text-align: center;
         position: relative;
         z-index: 10;
         text-transform: uppercase;
         font-weight: 900;
     }

     .container h1:before {
         content: "Záverečné zadanie";
         position: absolute;
         left: 50%;
         top: 20px;
         transform: translate(-50%, -50%);
         font-size: 2rem;
         color: #b4c9d4;
         z-index: -1;
         width: 100%;
         letter-spacing: 0.2rem;
     }
 }

 .wlm-img {
     display: flex;
     margin: 10px auto;

 }



 .btn-info {
     background-color: #6370B3 !important;
     color: white !important;
     border: 2px solid #6370B3 !important;
     width: 250px !important;
     margin: 5px auto;
 }

 .my-form input {
     max-width: 250px;
 }

 .my-form .form-group {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .language {
     display: flex;
     justify-content: flex-end;
     margin: 20px 20px;
 }

 .flag-icon {
     font-size: 2rem;
     margin-right: 10px;
 }

 .guide-header {
     text-align: center;
 }

 .text-danger {
     max-width: 250px;
 }

 .guide-text {
     max-width: 600px;
     margin: 10px auto;
     padding: 20px;
 }

 .export-buttons {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px auto;
 }

 .tr-unsubmitted {
    background-color: #ffe5e5; /* Jemná červená */
}

.tr-submitted {
    background-color: #e5ffe5; /* Jemná zelená */
}